<p id="notice"><%= notice %></p>

<h1>Listing Societies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Building number</th>
      <th>Address</th>
      <th>Area</th>
      <th>Postcode</th>
      <th>City</th>
      <th>Active</th>
      <th>Isdelete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @societies.each do |society| %>
      <tr>
        <td><%= society.name %></td>
        <td><%= society.url %></td>
        <td><%= society.building_number %></td>
        <td><%= society.address %></td>
        <td><%= society.area %></td>
        <td><%= society.postcode %></td>
        <td><%= society.city %></td>
        <td><%= society.active %></td>
        <td><%= society.IsDelete %></td>
        <td><%= link_to 'Show', society %></td>
        <td><%= link_to 'Edit', edit_society_path(society) %></td>
        <td><%= link_to 'Destroy', society, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Society', new_society_path %>
