<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @society.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @society.url %>
</p>

<p>
  <strong>Building number:</strong>
  <%= @society.building_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @society.address %>
</p>

<p>
  <strong>Area:</strong>
  <%= @society.area %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @society.postcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @society.city %>
</p>

<p>
  <strong>Active:</strong>
  <%= @society.active %>
</p>

<p>
  <strong>Isdelete:</strong>
  <%= @society.IsDelete %>
</p>

<%= link_to 'Edit', edit_society_path(@society) %> |
<%= link_to 'Back', societies_path %>
