<%= form_for(@user_detail) do |f| %>
  <% if @user_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_detail.errors.count, "error") %> prohibited this user_detail from being saved:</h2>

      <ul>
      <% @user_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_user %><br>
    <%= f.number_field :id_user %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.number_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.number_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :number_of_family_members %><br>
    <%= f.number_field :number_of_family_members %>
  </div>
  <div class="field">
    <%= f.label :number_of_servants %><br>
    <%= f.number_field :number_of_servants %>
  </div>
  <div class="field">
    <%= f.label :vehicle_number %><br>
    <%= f.text_field :vehicle_number %>
  </div>
  <div class="field">
    <%= f.label :pets %><br>
    <%= f.number_field :pets %>
  </div>
  <div class="field">
    <%= f.label :intercom_number %><br>
    <%= f.number_field :intercom_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
