<p id="notice"><%= notice %></p>

<h1>Listing User Details</h1>

<table>
  <thead>
    <tr>
      <th>Id user</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Telephone</th>
      <th>Mobile</th>
      <th>Number of family members</th>
      <th>Number of servants</th>
      <th>Vehicle number</th>
      <th>Pets</th>
      <th>Intercom number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_details.each do |user_detail| %>
      <tr>
        <td><%= user_detail.id_user %></td>
        <td><%= user_detail.firstname %></td>
        <td><%= user_detail.lastname %></td>
        <td><%= user_detail.telephone %></td>
        <td><%= user_detail.mobile %></td>
        <td><%= user_detail.number_of_family_members %></td>
        <td><%= user_detail.number_of_servants %></td>
        <td><%= user_detail.vehicle_number %></td>
        <td><%= user_detail.pets %></td>
        <td><%= user_detail.intercom_number %></td>
        <td><%= link_to 'Show', user_detail %></td>
        <td><%= link_to 'Edit', edit_user_detail_path(user_detail) %></td>
        <td><%= link_to 'Destroy', user_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User detail', new_user_detail_path %>
