<p id="notice"><%= notice %></p>

<p>
  <strong>Id user:</strong>
  <%= @user_detail.id_user %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user_detail.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user_detail.lastname %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @user_detail.telephone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user_detail.mobile %>
</p>

<p>
  <strong>Number of family members:</strong>
  <%= @user_detail.number_of_family_members %>
</p>

<p>
  <strong>Number of servants:</strong>
  <%= @user_detail.number_of_servants %>
</p>

<p>
  <strong>Vehicle number:</strong>
  <%= @user_detail.vehicle_number %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @user_detail.pets %>
</p>

<p>
  <strong>Intercom number:</strong>
  <%= @user_detail.intercom_number %>
</p>

<%= link_to 'Edit', edit_user_detail_path(@user_detail) %> |
<%= link_to 'Back', user_details_path %>
